@model PersonelListDto
@{
    ViewData["Title"] = "PersonelUpdate";
    Layout = "~/Areas/User/Views/Shared/_AdminLayout.cshtml";
}

<h1>Personel Bilgisini Güncelle</h1>

@if (ViewBag.PersonelError != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.PersonelError
    </div>
}
else
{

<form asp-area="User" asp-controller="Admin" asp-action="PersonelUpdate" method="post">
    <div class="form-group">
            <input type="hidden" name="ID" value="@Model.ID" />
    </div>
    
    <div class="form-group">
       <label for="registerNo">Kayıt Numarası</label> <br />
       <input type="number" name="RegisterNo" value="@Model.RegisterNo" />
     </div>
    
     <div class="form-group">
            <label for="registerNo">Kayıt Numarası</label> <br />
            <input type="number" name="RegisterNo" value="@Model.RegisterNo" /><br />
     </div>
     <div class="form-group">
            <label for="personelName">Personel Adı</label> <br />
            <input type="text" name="PersonelName" value="@Model.PersonelName" />
     </div>

     <div class="form-group">
            <label for="personelLastName">Personel Soyadı</label> <br />
            <input type="text" name="PersonelLastName" value="@Model.PersonelLastName" />
     </div>
    
     
     <div class="form-group">
            <label for="personelAddress">Personel Adresi</label> <br />
            <input type="text" name="PersonelAddress" value="@Model.PersonelAddress" />
     </div>

   
     <div class="form-group">
            <label for="personelBirthDay">Personel Doğum Tarihi</label> <br />
            <input type="date" name="PersonelBirthDay" value="@Model.PersonelBirthDay" />
     </div>

     <div class="form-group">
            <label for="department">Departmanı</label><br />
            <select class="form-select" aria-label="Default select example" name="DepartmentID" itemid="@Model.DepartmentID">
                <option value="@Model.DepartmentID" selected>@Model.DepartmentNAME</option>
                @foreach (var item in Model.Department)
                {
                    <option value="@item.ID">@item.DepartmentName</option>
                }
            </select>
     </div>

        <br />

        <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
}